
body {
    margin: 0;
    padding: 0;
    background: #111;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
    padding: 15px 0;
    z-index: 1000;
}

.nav-container {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    color: white;
    margin: 0;
}

.nav-container a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
}

main {
    padding-top: 80px; /* prevents navbar overlap */
}

.footer {
    text-align: center;
    padding: 20px;
    font-size: 0.85rem;
    color: #aaa;
}


/*  Homepahe */

